<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


                    <h4 class="card-title">Display Product table</h4>
<!--                    <p class="card-description"> Add class <code>.table-{color}</code>-->
<!--                    </p>-->
                    <div class="table-responsive" >
                      <table class="table table-bordered table-danger table-lg ">
                        <thead >
                          <tr>
                            <th>#</th>
                            <th>Category Name</th>
                              <th>Product Name</th>
                              <th> Price</th>
                              <th>Description</th>
                            <th>image</th>

                          </tr>
                        </thead>
                          {% for d in display %}

                        <tbody class="table-info">


                        <td>{{d.id}}</td>
                        <td>{{d.CATEGORY}}</td>
                        <td>{{d.PRODUCTNAME}}</td>
                        <td>{{d.PRODUCTPRICE}}</td>


<!--                        <td>-->
<!--                            <a href="{% url 'delete_product' del_id=d.id %}">-->
<!--                         <button type="button" class="btn btn-danger btn-sm btn-icon-text">-->
<!--                     <i class="mdi mdi-alert btn-icon-prepend"></i> delete-->
<!--                     </button>-->



<!--                            </a>-->
<!--                        </td>-->



                        <td>{{d.PRODUCTDESCRIPTION}}</td>
                        <td>
                            <img src="{{d.PRODUCTIMAGE.url}}"width=100px" height="100px">

                        </td>

                        <td>
                            <a href="{% url 'edit_product' edit_id=d.id %}" >
                           <button type="button" class="btn btn-dark btn-sm btn-icon-text"> Edit <i class="mdi mdi-file-check btn-icon-append"></i> </button>

                                </a>
                        </td>

                         <td>
                            <a href="{% url 'delete_product' del_id=d.id %}">
                         <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                     <i class="mdi mdi-alert btn-icon-prepend"></i> delete
                     </button>



                            </a>
                        </td>



                        </tbody>
                          {% endfor %}

                      </table>
                    </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
 {% for i in messages %}
  {% if i.tags == 'warning' %}
    <script>
        swal('{{i}}','','warning')
    </script>

  {% elif i.tags == 'error' %}
    <script>
        swal('{{i}}','','error')
    </script>
  {% elif i.tags == 'info' %}
    <script>
        swal('{{i}}','','info')
    </script>
  {% else %}
    <script>
        swal('{{i}}','','success')
    </script>
{% endif %}
{% endfor %}
{% endif %}

</body>
</html>
{% endblock %}
